@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="background-image: url(./images/bikePic.jpg);background-size: cover; height: 70vh;">
        <div class="hero">
            <h1>Bike Routes from Oak Park!</h1>
            <div class="card card-styles mx-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="BikeRoutes" asp-action="Index">
                    <img class="card-img-top" src="./images/strava-runner-street-art-tiger-drawing-san-francisco-1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Click here to search routes</h5>
                        <p class="card-text">You can search by name, direction, and/or distance</p>
                        <a href="#" class="btn btn-primary">See some nice routes!</a>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
